body{
  font-family: 'Cormorant Garamond', serif;
  background-color: #f5f0f0;
    
    /* background-color: rgb(250, 212, 218); */
}
*{
  margin: 0;
  padding:0;
}
html{
scroll-behavior: smooth;}
a{
  text-decoration: none;
  color: inherit;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    background-color: #f5f0f0;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
  }
  
  .show-preloader {
    visibility: visible;
    opacity: 1;
  }
  
  
.wrapper{
  display:flex;
  flex-wrap: wrap;
  width: 100%;

}
  
  figure {
    /* border: 1px #cccccc solid; */
    /* padding: 4px; */
    display: flex;
    justify-content: center;
  }
.main_container{
    width: 100vw;
    height: 100vh;
    background-size:cover;
 background-repeat: no-repeat;
 background-position:bottom;
 display: flex;
 flex-wrap: wrap;

}

#home{
  background-image: url(../img/bg2.jpg);
}

#about{
  background-image: url(../img/bg1.jpg);
}
.logo_container{
  width: 100vh;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}
.logo {
    width: 170px;
    height: 70px;
    background-image: url(../img/alisof.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
    top: 10px;
}
.logo_container> .logo{
  position: relative;



}
.menu{

    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    display: flex;
 
}
#home> .menu{
  align-self: flex-end;
}
.menu li{
    display: inline;
    text-decoration: none;
    padding:10px;

    text-transform:uppercase;
    justify-self: center;
    font-family: 'Ibarra Real Nova', serif;
}
#about p{
  margin-bottom: 15px;
  padding-left:15px;
  padding-right: 15px;
  text-align: justify;
}

h1{
  font-size:1em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left:15px;
  padding-right: 15px;
  text-align: center;
}
/* #zajecia{
  background-color: #f5f0f0;
} */
#zajecia_podzial{
  /* margin:35px auto; */
  width: 100%;
  height: 65%;
  max-width: 1200px;
  /* height: 35vh; */
  overflow: hidden;
}
.informacje-div{
width: 100%;
height: 20%;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.col{
  float:right;
  width: 50%;
  height: 80%;
  box-shadow:  5px 0px 5px rgba(0,0,0,0.4);
  overflow:hidden;
  display: block;
  text-decoration: none;
margin:25px auto}

.img1{background-image: url(../img/bg_kids.jpg);  background-size: cover; background-position: bottom;
  background-repeat: no-repeat;}
.img2{background-image: url(..img/bg2.jpg);  background-size: cover; background-position: bottom;
  background-repeat: no-repeat;}
.button_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  width: 33%;
  text-align: center;
  /* display:inline; */
}

.col {
  transform: rotate(10deg);
}

.colTitle{
  /* transform: rotate(-10deg); */
  padding:20px;
}
#kadra{
  background-color: #f5e1e1;
  width: 100%;
  height: 100vh;
}
.member_photo{

 display: flex;
 flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  /* height: 50vh; */
  margin: 5px 10px 0px;

}

.photo_description{
  width: 80%;
  padding:20px

}
.photo_description > h2{
  font-size: 0.8rem;
}

.member_photo-img{ 
  background-image: url(../img/zdjęcia-ALINA-Balet-760x760.jpg);
  border-radius: 50%;
    background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}
.member_container{
width: 100%;
height: 25%;
}
.member_description{

  font-size: 0.7rem;
  text-align: justify;  margin: 0px 25px 25px;
}

.member_description >ul{
  margin-left: 20px;
  list-style: none;

}
.member_description > p{
  margin-bottom: 5px;
}
.motto{
  width: 100%;
  text-align: center;
 
}

 #kadra ul li::before {
  content: "\25B9";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}