* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg1_hor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.3rem;
    font-family: 'Ibarra Real Nova', serif;
}

.main {
    width: 80vw;
    margin: 30px;
    padding: 10px
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 50px;
}